# VS Code
.vscode
server.pid

# Big Files
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tar.xz
*.tar.bz2
*.wav

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
